# Pandas Columns & Series

In [3]:
# Read in some datasets to work with!
import pandas as pd
houses = pd.read_csv("data/kc_house_data.csv")
titanic = pd.read_csv("data/titanic.csv")
netflix = pd.read_csv("data/netflix_titles.csv", sep="|", index_col=0)

In [4]:
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

In [5]:
titanic.name

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

In [6]:
titanic['name']

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

In [7]:
titanic.age

0           29
1       0.9167
2            2
3           30
4           25
         ...
1304      14.5
1305         ?
1306      26.5
1307        27
1308        29
Name: age, Length: 1309, dtype: object

In [8]:
titanic["age"]

0           29
1       0.9167
2            2
3           30
4           25
         ...
1304      14.5
1305         ?
1306      26.5
1307        27
1308        29
Name: age, Length: 1309, dtype: object

In [9]:
titanic["home.dest"]

0                          St Louis, MO
1       Montreal, PQ / Chesterville, ON
2       Montreal, PQ / Chesterville, ON
3       Montreal, PQ / Chesterville, ON
4       Montreal, PQ / Chesterville, ON
                     ...
1304                                  ?
1305                                  ?
1306                                  ?
1307                                  ?
1308                                  ?
Name: home.dest, Length: 1309, dtype: object

In [10]:
mystery_col = "price"

In [11]:
houses[mystery_col]

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [12]:
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?

In [13]:
names = titanic.name
type(names)

pandas.core.series.Series

In [15]:
names

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

In [17]:
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?

In [20]:
#type(houses.sum(numeric_only=True))
houses.sum(numeric_only=True)

id               9.899406e+13
price            1.167293e+10
bedrooms         7.285400e+04
bathrooms        4.570625e+04
sqft_living      4.495287e+07
sqft_lot         3.265069e+08
floors           3.229650e+04
waterfront       1.630000e+02
view             5.064000e+03
condition        7.368800e+04
grade            1.654880e+05
sqft_above       3.865249e+07
sqft_basement    6.300385e+06
yr_built         4.259933e+07
yr_renovated     1.824186e+06
zipcode          2.119759e+09
lat              1.027915e+06
long            -2.641409e+06
sqft_living15    4.293536e+07
sqft_lot15       2.759646e+08
dtype: float64

In [24]:
type(houses.price)

pandas.core.series.Series

In [22]:
type(houses.price.sum())

numpy.float64

In [23]:
type(houses.price.max())

float

In [ ]:
names.shape

In [ ]:
titanic.shape

In [ ]:
names.values

In [ ]:
names.index

In [ ]:
names

In [ ]:
mins = houses.min(numeric_only=True)

In [ ]:
mins.index

In [ ]:
mins

## Important Series Methods

* `head()`
* `tail()`
* `describe()`
* `unique()`
* `nunique()`
* `nlargest()`
* `nsmallest()`
* `value_counts()`
* `plot()` YAY!

In [ ]:
titanic.age.head(10)

In [ ]:
netflix.title.tail(50)

In [ ]:
houses.describe()

In [ ]:
houses["price"].describe()

In [ ]:
netflix["rating"].describe()

In [ ]:
netflix.dtypes

In [ ]:
netflix.release_year.describe()

In [ ]:
titanic.name

In [ ]:
houses["bedrooms"].unique()

In [ ]:
netflix.rating.unique()

In [ ]:
netflix.rating

In [ ]:
netflix.rating.nunique()

In [ ]:
houses.zipcode.nunique()

In [ ]:
netflix.info()

In [ ]:
netflix.head()

In [ ]:
netflix.rating.nunique(dropna=False)

In [ ]:
netflix.rating.nunique()

In [ ]:
houses.price.nlargest(9)

In [ ]:
houses.price.nsmallest(10)

In [ ]:
titanic.pclass.nlargest(5, keep="all")

In [ ]:
houses.nlargest(10,["price"])

In [ ]:
houses.nlargest(10, ["bedrooms"])

In [ ]:
houses.nlargest(10, ["bedrooms", "bathrooms"])

In [ ]:
houses.nsmallest(10, ["sqft_lot"])

In [ ]:
netflix[["title", "rating"]].tail(10)

In [ ]:
houses[["price", "bedrooms", "bathrooms"]].describe()

In [ ]:
houses

In [ ]:
cols = ["price", "zipcode", "sqft_lot"]
houses[cols]

In [ ]:
houses["bedrooms"]

In [ ]:
houses["bedrooms"].value_counts()

In [ ]:
titanic.sex.value_counts()

In [ ]:
netflix.director.value_counts().head(10)

In [ ]:
netflix.director.value_counts(ascending=True)

In [ ]:
houses["floors"].value_counts()

In [ ]:
houses[["bedrooms", "bathrooms"]]

In [ ]:
houses[["bedrooms", "bathrooms"]].value_counts()

In [ ]:
type(houses[["bedrooms", "bathrooms"]].value_counts())

In [ ]:
houses.bedrooms

## Plotting Intro!

In [ ]:
houses.bedrooms.plot()

In [ ]:
houses.bedrooms.value_counts().plot()

In [ ]:
houses.bedrooms.value_counts().plot(kind="bar")

In [ ]:
houses.bedrooms.value_counts().plot(kind="pie")

In [ ]:
titanic.survived.value_counts().plot(kind="pie")

In [ ]:
titanic.sex.value_counts().plot(kind="pie")

In [ ]:
houses.plot()

In [ ]:
houses[["bedrooms", "bathrooms"]].plot()

In [ ]:
df = houses[["bedrooms", "bathrooms"]]
df.plot(kind="scatter", x="bedrooms", y="bathrooms")

In [ ]:
netflix.rating.value_counts().head(10).plot(kind="bar")